*{
    color: black;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: black;

}
a {
    color: inherit;
    text-decoration: none;
  }

ul{
    text-decoration: none;
    list-style-type: none;
}

h1, h2, h3, h4{
    padding: 0px;
    margin: 0px;
}













/* 모바일 스타일 */
@media(max-width: 767px) {
    #header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 20px 0;
    }
    
    /*=================================햄버거 메뉴 Start==============================*/
    /*====================햄버거 메뉴 div 디자인 세트================ */

    #header .menu_btn div { /*햄버거 메뉴 디자인*/
      width: 25px;
      height: 2px;
      background-color: white;
      margin: 6px 0px;
      position: relative;
      transition: all .8s ease;
    }
    
    #header .menu_btn.lijo div { /*햄버거 메뉴 열렸을때 X표시 디자인*/
      position: absolute;
      transition: all .8s ease;
    }
    
    #header .menu_btn.lijo div:nth-child(1) {/*햄버거 메뉴 열렸을때 X표시 디자인*/
      transform: rotate(45deg);
      top: 7px;
      right: 0px;
    }
    
    #header .menu_btn.lijo div:nth-child(2) {/*햄버거 메뉴 열렸을때 X표시 디자인*/
      width: 0px;
      top: 7px;
      right: 0px;
    }
    
    #header .menu_btn.lijo div:nth-child(3) {/*햄버거 메뉴 열렸을때 X표시 디자인*/
      transform: rotate(-45deg);
      top: 7px;
      right: 0px;
    }
    /*====================햄버거 메뉴 div 디자인 세트================ */

    /*========================햄버거 메뉴 디자인==================== */
    #header .menu_btn { /* 서브메뉴 햄버거 메뉴 부모 요소기준 배치 */
      display: none;
      position: absolute;
    }

    #header .menu_btn { /* 서브메뉴 햄버거 표시 위치 설정 (닫혔을때)*/
      display: block;
      right: 20px;
      top: 55px;
      transform: translateY(-50%);
    }
    
    #header .menu_btn.lijo { /* 서브메뉴 X표시 위치 설정 (열렸을때)*/
        top: 40px;
    }

    /*====================햄버거 메뉴 디자인================ */
    



    /*==================GNB 및 GNB.surya스타일 ======================*/
    #header .nav ul.gnb {
        position: absolute;          /* 절대 위치 설정 */
        top: 65px;                   /* 상단에서 65px의 위치에 메뉴를 배치 */
        transform: translateX(100%); /* 메뉴를 오른쪽으로 밀어 숨김 (기본 설정) */
        left: 0;                     /* 왼쪽에서부터 시작 */
        transition: .8s ease;        /* 0.8초 동안의 부드러운 애니메이션 (이전에 설정되었던 것으로 보임) */
        width: 100%;                 /* 메뉴의 너비를 부모 요소의 100%로 설정 */
        height: calc(100vh - 65px);  /* 화면 높이에서 65px을 뺀 만큼의 높이로 설정 */
        background: #fff;            /* 배경색 설정 */
        overflow-y: auto;            /* 세로 스크롤 가능 (내용이 많을 경우 스크롤바 표시) */
        display: block;              /* 메뉴를 블록 요소로 표시 */
        transform: translateX(100%); /* 모바일에서 기본적으로 메뉴를 오른쪽으로 밀어 숨김 */
        transition: transform 0.0s;  /* 메뉴 이동시 애니메이션 없이 즉시 이동 */
    }

    #header .nav ul.gnb {  /*햄버거 드롭다운 메뉴 정렬*/
      margin-top: 50px;
      padding-left: 30px;
      display: block;
    }
    
    #header .nav ul.gnb li { /*햄버거 드롭다운 메뉴 li 정렬*/
      margin-top: 20px;
      color: #000;
      text-align: center;
    }
    
    #header .nav ul.gnb li a { /*햄버거 드롭다운 메뉴 li a정렬*/
      padding: 10px 20px;
      box-sizing: border-box;
      display: block;
      transition: .8s ease;
      text-transform: uppercase;
      text-align: left;
    }

    #header .nav ul.gnb.surya {
        transform: translateX(0%);
    }
    
    .hd_bg {
        display: none !important;
    }

    /*=================================햄버거 메뉴 End==============================*/

    .main_logo_body {
        width: 200px;
        height: 50px;
        margin-left: 20px;
        display: block;
        position: absolute;
        top: 30px;
    }

    .sub_logo {
        width: 30px;
        height: 40px;
        margin-top: 10px;
        display: block;
        float: left;
        position: absolute;
    }

    .sub_logo h3 {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        padding: 0;
        color: white;
        float: right;
        display: block;
    }

    .main_logo {
        width: 170px;
        height: 50px;
        margin-top: 10px;
        display: block;
        float: right;
    }

    .main_logo h1 {
        color: white;
        float: left;
    }

}

/* 태블릿 노트북 스타일*/
@media(min-width: 768px) and (max-width: 1100px) {
    #header{
        width: 100%;
        height: 100px;
        background-color: black;
    }

    .container{
        width: 600px;
        height: 40px;
        float: right;
        margin-top: 60px;
    }

    .gnb{
        width: auto;
        padding: 0;
        margin: 0;
    }

    .gnb li{
        float: left;
        margin-left: 10px;
    }

    .gnb li a{
        text-decoration: none;
        display: block;
        color: white;
        padding: 10px 10px 10px 10px;
        font-weight: bold;
    }

    .gnb li a:hover{
        background-color: white;
        color: black;
        border-radius: 30px;
    }

    #menu_style1{
        margin-left: 120px;
        
    }

    #menu_style4{
        margin-left: 40px;
    }


    .main_logo_body{
        width: 220px;
        height: 800px;
        margin-left: 80px;
        display: block;
        position: absolute;
        top: 45px;
    }

    .sub_logo{
        width: 30px;
        height: 40px;
        margin-top: 295px;
        display: block;
        float: left;
        position: absolute;
    }
    .sub_logo h3{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        padding: 0px;
        color: white;
        float: right;
        display: block;
    }
    .main_logo{
        width: 170px;
        height: 800px;
        display: block;
        float: right;
    }

    .main_logo h1{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        color: white;
        font-size: 150px;
        float: left;
    }
}


/* 데스크톱 스타일 */
@media(min-width:1100px) {
    #header{
        width: 100%;
        height: 100px;
        background-color: black;
    }

    .container{
        width: 800px;
        height: 40px;
        float: right;
        margin-top: 60px;
    }

    .gnb{
        width: auto;
        padding: 0;
        margin: 0;
    }

    .gnb li{
        float: left;
        margin-left: 10px;
    }

    .gnb li a{
        text-decoration: none;
        display: block;
        color: white;
        padding: 10px 30px 10px 30px;
        font-weight: bold;
    }

    .gnb li a:hover{
        background-color: white;
        color: black;
        border-radius: 30px;
    }

    #menu_style1{
        margin-left: 30px;
        
    }

    #menu_style4{
        margin-left: 130px;
    }


    .main_logo_body{
        width: 220px;
        height: 800px;
        margin-left: 80px;
        display: block;
        position: absolute;
        top: 45px;
    }

    .sub_logo{
        width: 30px;
        height: 40px;
        margin-top: 375px;
        display: block;
        float: left;
        position: absolute;
    }
    .sub_logo h3{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        padding: 0px;
        color: white;
        float: right;
        display: block;
    }
    .main_logo{
        width: 170px;
        height: 800px;
        display: block;
        float: right;
    }

    .main_logo h1{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        color: white;
        font-size: 190px;
        float: left;
    }

    
}




