body {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
    padding: 20px 2%;
    height: 230px;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
  }

  .body_scroll1{
    background-image: url("/imges/main/main1.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #scroll-section1 {
    background-image: url("../../imges/main/back_img1.png");
    width: 100%;
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


  
  #logo img {
    height: 222px;
    position: relative;
    z-index: 2;
  }
  
  #ellipsis {
    display: none;
    cursor: pointer;
  }
  
  #nav-menu {
    position: relative;
    z-index: 1;
    align-self: center; /* Aligns it to the center vertically */
    box-sizing: border-box;
  }
  
  #nav-items { /* 모바일 버전 수정*/
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  #nav-items li {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
  }

  
  #nav-menu:hover #nav-items {
    height: auto;
  }
  
  #nav-menu:hover #nav-items li {
    opacity: 1;
    transform: translateY(0);
  }
  
  #ellipsis img {
    width: 20px;
    height: 20px;
  }
  
  #nav-items li {
    padding: 8px 16px;
  }
  
  #nav-items li a{
    color: white;
    font-size: 22px;
    text-decoration: none;
  }
  










  @media (max-width: 600px) {
    header {
      height: 60px;
      justify-content: flex-end;
    }
  
    #logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  
    #ellipsis {
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  
    #nav-items {
      transition: all 0.2s ease-out;
      width: 100px;
      position: absolute;
      top: 100%;
      right: 0;
    }
  
    #nav-menu:hover #nav-items {
      height: auto;
    }
  }
  



/*두 번째 섹션 텍스트 나타나게 하기*/
















  @media (min-width: 601px) and (max-width: 1024px) {
    header {
      justify-content: flex-end;
    }
  
    #logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  
    #ellipsis {
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  
    #nav-items {
      transition: all 0.2s ease-out;
      width: 150px;
      position: absolute;
      top: 100%;
      right: 0;
    }
  
    #nav-menu:hover #nav-items {
      height: auto;
    }
  }
  









  @media (min-width: 1025px) { /* 여기까진 완료 */
    header {
      justify-content: space-between; /* Added */
    }

    #logo {
        margin-left: 100px;
        margin-top: 170px;
    }
    #logo img{
        width: 222px;
        height: 140px;
    }
  
    #nav-items {
    width: 300px;
    height: 50px;
      display: flex;
      position: static;
      background-color: transparent;
      box-shadow: none;
      height: auto;
      overflow: visible;
      width: auto;
      margin-top: 190px;
    }
  
    #nav-items li {
      padding: 0;
      margin: 0 10px;
      display: block;
      opacity: 1;
      transform: translateY(0);
    }

    #nav-items li a{
        color: white;
        font-size: 18px;
        text-decoration: none;
      }

    #nav-menu {
        width: 550px;
    }

    .menu_style1 a{
        margin-right: 30px;
    }
    .menu_style2 a{
        margin-right: 30px;
    }
    .menu_style3 a{
        margin-right: 60px;
    }
    .menu_style4 a{
    }



    .big_logo_body{
        width: 300.67px;
        height: 137.43px;
        float: left;
        margin-left: 180px;
        margin-top: 550px;
        display: block;
    }

    .big_logo_body img{
        width: 300.67px;
    }

    .bit_img_logo_boody{
        width: 300px;
        float: right;
        display: block;
        margin-right: 200px;
        margin-top: 300px;
    }

    .bit_img_logo_boody img{
        width: 300px;
        position: relative;
        z-index: 2;
    }


    #overlay-text p, h5{
      padding: 0px;
      margin: 0px;
    }

    #overlay-text {
      position: absolute;
      top: 40%;
      left: 23%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 40px;
      opacity: 0;
      transition: opacity 1s;
    }
    
    #overlay-text1 {
      position: absolute;
      top: 40%;
      left: 56%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 25px;
      opacity: 0;
      transition: opacity 1s;
      width: 450px;
      height: 180px;
    }
    
    #overlay-text1 p{
      margin: 0px;
    }
    
    
    #overlay-text2 {
      position: absolute;
      top: 75%;
      left: 75%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 25px;
      opacity: 0;
      transition: opacity 1s;
      width: 335px;
      height: 230px;
    }
    
    #overlay-text2 p{
      margin: 0px;
    }
    
    
    #overlay-text3 {
      position: absolute;
      top: 80%;
      left: 30%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 25px;
      opacity: 0;
      transition: opacity 1s;
      width: 430px;
      height: 230px;
    }
    
    #overlay-text3 p{
      margin: 0px;
    }
    
    
    #overlay-text1.scrolled {
        top: 50%;
        opacity: 1;
    }











    .scroll_env1{
      width: 240px;
      height: 300px;
    }



  }
  




  @media (min-width: 1550px) {
    header {
        justify-content: space-between; /* Added */
      }
  
      #logo {
          margin-left: 150px;
          margin-top: 170px;
      }
      #logo img{
          width: 222px;
          height: 140px;
      }
    
      #nav-items {
      width: 300px;
      height: 50px;
      background-color: aqua;
        display: flex;
        position: static;
        background-color: transparent;
        box-shadow: none;
        height: auto;
        overflow: visible;
        width: auto;
        margin-top: 190px;
      }
    
      #nav-items li {
        padding: 0;
        margin: 0 10px;
        display: block;
        opacity: 1;
        transform: translateY(0);
      }
  
      #nav-menu {
          width: 1100px;
      }
  
      .menu_style1 a{
          margin-right: 50px;
      }
      .menu_style2 a{
          margin-right: 50px;
      }
      .menu_style3 a{
          margin-right: 300px;
      }
      .menu_style4 a{
      }
  
  
      .big_logo_body{
          width: 668.67px;
          height: 137.43px;
          float: left;
          margin-left: 180px;
          margin-top: 500px;
          display: block;
      }
  
      .big_logo_body img{
          width: 668.67px;
      }
  
      .bit_img_logo_boody{
          width: 400px;
          float: right;
          display: block;
          margin-right: 200px;
          margin-top: 150px;
      }
  
      .bit_img_logo_boody img{
          width: 400px;
          position: relative;
          z-index: 2;
      }






      #overlay-text {
        position: absolute;
        top: 40%;
        left: 23%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 60px;
        opacity: 0;
        transition: opacity 1s;
      }
      
      #overlay-text1 {
        position: absolute;
        top: 40%;
        left: 47.5%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        opacity: 0;
        transition: opacity 1s;
        width: 370px;
        height: 240px;
      }
      
      #overlay-text1 p{
        margin: 0px;
      }
      
      
      #overlay-text2 {
        position: absolute;
        top: 77%;
        left: 70%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 28px;
        opacity: 0;
        transition: opacity 1s;
        width: 430px;
        height: 230px;
      }
      
      #overlay-text2 p{
        margin: 0px;
      }
      
      
      #overlay-text3 {
        position: absolute;
        top: 82%;
        left: 28%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 28px;
        opacity: 0;
        transition: opacity 1s;
        width: 430px;
        height: 230px;
      }
      
      #overlay-text3 p{
        margin: 0px;
      }
      
      
      #overlay-text1.scrolled {
          top: 50%;
          opacity: 1;
      }
  }






  @media (min-width: 1920px) { 
    header {
      justify-content: space-between; /* Added */

    }
    #nav-items {
      display: flex;
      position: static;
      background-color: transparent;
      box-shadow: none;
      overflow: visible;
      width: auto;
      padding-right: 20px;
      margin-top: 50px;
    }
  
    #nav-items li {
      padding: 0;
      margin: 0 10px;
      display: block;
      opacity: 1;
      transform: translateY(0);
    }











    #overlay-text {
      position: absolute;
      top: 40%;
      left: 23%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 60px;
      opacity: 0;
      transition: opacity 1s;
    }
    
    #overlay-text1 {
      position: absolute;
      top: 40%;
      left: 48%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 30px;
      opacity: 0;
      transition: opacity 1s;
      width: 400px;
      height: 225px;
    }
    
    #overlay-text1 p{
      margin: 0px;
    }
    
    
    #overlay-text2 {
      position: absolute;
      top: 70%;
      left: 71%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 28px;
      opacity: 0;
      transition: opacity 1s;
      width: 450px;
      height: 230px;
    }
    
    #overlay-text2 p{
      margin: 0px;
    }
    
    
    #overlay-text3 {
      position: absolute;
      top: 77%;
      left: 28%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 28px;
      opacity: 0;
      transition: opacity 1s;
      width: 450px;
      height: 230px;
    }
    
    #overlay-text3 p{
      margin: 0px;
    }
    
    
    #overlay-text1.scrolled {
        top: 50%;
        opacity: 1;
    }


  }




























@media (max-width: 600px) {
    #scroll-section {
        height: 100vh;
    }
    #scroll-section1 {
        height: 100vh;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    #scroll-section {
        height: 100vh;
    }
    #scroll-section1 {
        height: 100vh;
    }
  }
  
  @media (min-width: 1025px) {

    #scroll-section1 {
        height: 100vh;
    }
  }
  
  @media (min-width: 1921px) {
    #scroll-section {
        height: 100vh;
    }
    #scroll-section1 {
        height: 100vh;
    }
    
  }